[class*="css-icon-"] {
	position: relative;
	display: block;
	width: 1em;
	height: 1em;
	color: #333;
	text-align: center;

  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
[class*="css-icon-"]:before,
[class*="css-icon-"]:after {
	content: '\0020';
	position: absolute;
	left: 0;
	display: block;
	width: 1em;
	border-style: solid;
	border-color: currentcolor;
	border-width: 0;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
[class*="css-icon-"]:after {bottom: 0;}

.css-icon-menu:before {
	top: .1em;
	bottom: .5em;
  left: .1em;
  width: .8em;
	margin-bottom: -.05em;
	border-width: .1em 0;
}
.css-icon-menu:after {
	top: .5em;
  bottom: .1em;
  left: .1em;
  width: .8em;
	border-width: 0 0 .1em;
}


.css-icon-close:before {
	top: .5em;
	margin-top: -.05em;
	border-width: .1em 0 0;
	transform: rotate(45deg);
}
.css-icon-close:after {
	bottom: .5em;
	margin-bottom: -.05em;
	border-width: 0 0 .1em;
	transform: rotate(135deg);
}

.css-icon-tick:before {
	top: .55em;
	left: -.05em;
	width: .5em;
	border-width: .1em 0 0;
	transform: rotate(45deg);
}
.css-icon-tick:after {
	bottom: .5em;
	left: .2em;
	border-width: 0 0 .1em;
	transform: rotate(135deg);
}
/*
.css-icon-tick:before {
	left: .2em;
	top: .4em;
	border-width: 0 0 .1em;
	transform: rotate(-45deg);
}
.css-icon-tick:after {
	top: .55em;
	left: -.05em;
	width: .5em;
	height: 0;
	border-width: .1em 0 0;
	transform: rotate(45deg);
}*/


.css-icon-grib {height: 1em;}
.css-icon-grib:before {
	top: 0;
	height: .45em;
	border-width: 0 .45em;
}
.css-icon-grib:after {
	height: .45em;
	border-width: 0 .45em;
}

.css-icon-home:before {
	top: 0;
	border-color: transparent transparent currentcolor;
	border-width: 0 .5em .55em;
}
.css-icon-home:after {
	top: .5em;
	left: .05em;
	width: .9em;
	height: .5em;
	border: solid currentcolor;
	border-width: .2em .39em 0;
}

.css-icon-user:before {
	top: 0;
	left: .25em;
	width: .5em;
	border-width: .25em;
	border-radius: 50%;
}
.css-icon-user:after {
	height: .5em;
	border-width: .4em 0 0;
	border-radius: .5em .5em 0 0;
}


.css-icon-pencil:before {
	top: -.1em;
	left: .4em;
	width: .3em;
	height: 1em;
	border-width: .2em 0 .74em;
	border-radius: .08em .08em 0 0;
	transform: rotate(45deg);
}
.css-icon-pencil:after {
	bottom: .1em;
	left: .07em;
	width: .2em;
	border-color: transparent transparent currentcolor transparent;
	border-width: 0 .2em .2em 0;
}

.css-icon-card {
	height: .8em;
	margin: .1em 0;
	border: .1em solid currentcolor;
	border-radius: .1em;
}
.css-icon-card:before {
	width: .8em;
	top: .1em;
	border-width: 0 0 .2em;
	/*content: '..';*/
	/*letter-spacing: -.1em;
	line-height: .3em;
	text-align: left;
	top: .1em;
	height: .8em;
	border-width: .1em;
	border-radius: .1em;*/
}
.css-icon-card:after {
	left: .1em;
	bottom: .1em;
	width: .3em;
	height: .1em;
	border-width: 0 .1em;
}

.css-icon-cart:before {
}
.css-icon-cart:after {
}

.css-icon-label:before {
  top: .1em;
	left: .2em;
	width: .6em;
	height: .9em;
	border-width: 0 .1em .1em;
	border-radius: .1em;
	transform: rotate(45deg);
}
.css-icon-label:after {
  content: '°';
  line-height: .88;
  top: .02em;
  left: .56em;
	width: .47em;
	height: .47em;
  border-width: .1em .1em 0 0;
  border-radius: .1em;
}

.css-icon-search:before {
  top: 0;
  left: .2em;
  width: .8em;
  height: .8em;
  border-width: .1em;
  border-radius: 50%;
}
.css-icon-search:after {
  left: .15em;
  width: .1em;
  border-width: .4em 0 0;
  transform: rotate(45deg);
}

.css-icon-position:before {
	left: .15em;
	width: .7em;
	height: .7em;
	border-width: .2em;
	border-radius: 50%;
}
.css-icon-position:after {
	left: .2em;
	top: .52em;
	width: .6em;
	border-width: .5em .3em 0;
	border-color: currentcolor transparent transparent transparent;
}


.css-icon-heart:before,
.css-icon-heart:after {
	top: .1em;
	width: .5em;
	height: .782em;
	border-radius: 50% 50% 0 0;
}
.css-icon-heart:before {
	left: .15em;
	border-width: 1px 0 0 1px;
	transform: rotate(-45deg);
}
.css-icon-heart:after {
	left: .35em;
	border-width: 1px 1px 0 0;
	transform: rotate(45deg);
}

.css-icon-love:before,
.css-icon-love:after {
	top: .1em;
	width: .5em;
	height: .8em;
	border-width: .25em;
}
.css-icon-love:before {
	left: .15em;
	border-radius: 1em 1em 2em 0;
	transform: rotate(-45deg);
}
.css-icon-love:after {
	left: .35em;
	border-radius: 1em 1em 0 2em;
	transform: rotate(45deg);
}

.css-icon-drop:before {
	left: .15em;
	top: .2em;
	width: .7em;
	border-width: .35em;
	border-radius: 0 50% 50% 50%;
	transform: rotate(45deg);
}

.css-icon-focus:before {
	height: 1em;
	border-style: dashed;
	border-width: .1em;
	border-radius: .1em;
}
.css-icon-focus:after {
	top: .4em;
	left: .4em;
	width: .2em;
	height: .2em;
	border-width: 1px;
	border-radius: 50%;
	background: #fff;
}

.css-icon-computer:before {
	content: '-';
	line-height: 0;
	text-align: left;
	top: .2em;
	left: .1em;
	width: .8em;
	height: .5em;
	border-width: 2px 2px 1px;
	border-radius: 3px 3px 0 0;
}
.css-icon-computer:after {
	bottom: .15em;
	border-width: 0 .1em .15em;
	border-color: transparent transparent currentcolor;
}

.css-icon-file:before {
	left: .6em;
	width: .3em;
	height: .3em;
	border-width: .15em;
	border-radius: 0 .3em 0 3px;
}
.css-icon-file:after {
	top: 0;
	left: .1em;
	width: .8em;
	height: 1em;
	border-width: 2px;
	border-radius: 3px .3em 3px 3px;
}

.css-icon-book:before {
	width: 1em;
	height: .8em;
	border-width: .1em .1em 0;
	border-radius: .2em .1em 0 0;
}
.css-icon-book:after {
	width: 1em;
	height: .4em;
	border-width: .1em;
	border-radius: .2em .1em 0 .2em;
}

.css-icon-envelop:before {
	top: .1em;
	height: .8em;
	border-width: .1em;
	border-radius: .1em;
}
.css-icon-envelop:after {
	top: .15em;
	width: 1em;
	height: 0;
	border-color: currentcolor transparent transparent transparent;
	border-width: .3em .48em 0;
	border-radius: .1em .1em 50% 50%;
}

.css-icon-trash:before {
	top: .1em;
	left: .35em;
	width: .2em;
	height: .1em;
	border-width: 0 .15em 0;
	box-shadow: 0 .08em, -.2em .08em, .2em .08em, 0 .5em, 0 .3em;
	border-radius: 2px;
}
.css-icon-trash:after {
	left: .2em;
	bottom: .1em;
	width: .6em;
	height: .6em;
	border-width: 0 .1em .1em;
	border-radius: 0 0 .1em .1em;
}




@keyframes loading {
  0 {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.css-icon-loading-1:before {
  top: .1em;
  left: .1em;
  width: .8em;
  height: .8em;
	border-style: dashed;
  border-width: 1px;
  border-top: 1px solid currentcolor;
  border-radius: 50%;
  -webkit-animation: loading 1s linear infinite;
  animation: loading 1s linear infinite;
}
.css-icon-loading-2 {
	border-top: 2px solid currentcolor;
  border-radius: 50%;
  -webkit-animation: loading 1s linear infinite;
  animation: loading 1s linear infinite;
}
.css-icon-loading-2:before {
  top: .1em;
  left: .1em;
  width: .8em;
  height: .8em;
	border-width: 2px 0 0 0;
  border-radius: 50%;
  -webkit-animation: loading 1s linear infinite;
  animation: loading 1s linear infinite;
}
.css-icon-yinyang {
	border: 1px solid currentcolor;
	border-bottom: .5em solid currentcolor;
	border-radius: 50%;
	background: #fff;
  -webkit-animation: loading 1s linear infinite;
  animation: loading 1s linear infinite;
}
.css-icon-yinyang:before,
.css-icon-yinyang:after {
	top: .25em;
	width: .48em;
	height: .48em;
	border-width: .2em;
	border-radius: .5em;
}
.css-icon-yinyang:before {
	left: 0;
	right: 50%;
}
.css-icon-yinyang:after {
	left: 50%;
	right: 0;
	border-color: #fff;
}


/* groups */
.css-icon-sunny:before {
	width: .8em;
	height: .8em;
	margin: .1em;
	border-width: 2px;
	border-radius: 50%;
}
.css-icon-sunny:after {
	left: .45em;
	top: .45em;
	width: .1em;
	height: .1em;
	border-color: transparent;
	border-width: .05em;
	border-radius: .2em;
	box-shadow: 0 -.6em currentcolor, -.6em 0 currentcolor, 0 .6em currentcolor, .6em 0 currentcolor, .4em .4em currentcolor, .4em -.4em currentcolor, -.4em -.4em currentcolor, -.4em .4em currentcolor;
}

.css-icon-rainy:before {
	left: .05em;
	width: .9em;
	height: .45em;
	border-width: 2px;
	border-radius: .5em .5em .2em .2em;
}
.css-icon-rainy:after {
	top: .7em;
	left: .4em;
	height: 2px;
	width: .2em;
	border-color: transparent;
	border-width: 2px 0 0;
	box-shadow: -.2em 0 currentcolor, .2em 0 currentcolor, 0 -.2em currentcolor, 0 .2em currentcolor;
	transform: rotate(45deg);
}

.css-icon-cloudy:before {
	top: .25em;
	left: .05em;
	width: .7em;
	height: .5em;
	border-width: 2px 0 2px 2px;
	border-radius: .3em .3em 0 .2em;
	box-shadow: -1px -1px 2px 2px rgba(0, 0, 0, .1);
}
.css-icon-cloudy:after {
	top: .35em;
	left: .7em;
	width: .3em;
	height: .4em;
	border-width: 2px 2px 2px 0;
	border-radius: .1em 50% 50% 0;
}

.css-icon-windy:before {
	left: .4em;
	width: .4em;
	height: .4em;
	border-width: 2px 2px 2px 0;
	border-radius: 50% 50% 50% 0;
	/*box-shadow: .2em .1em currentcolor;*/
}
.css-icon-windy:after {
	bottom: .6em;
	width: .4em;
	border-width: 2px 0 0;
	box-shadow: .3em .1em currentcolor, 0 .1em currentcolor;
}

.css-icon-play:before {
	top: .2em;
	left: .25em;
	width: .5em;
	height: .6em;
	border-color: transparent transparent transparent currentcolor;
	border-width: .3em 0 .3em .5em;
}
.css-icon-pause:before,
.css-icon-stop:before,
.css-icon-record:before {
	top: .2em;
	left: .2em;
	width: .6em;
	height: .6em;
	border-width: .3em;
}
.css-icon-pause:before {border-width: 0 .2em;}
.css-icon-record:before {border-radius: .6em;}

.css-icon-prev:before {
	top: .4em;
	left: .2em;
	width: .7em;
	height: .3em;
	border-width: .1em .1em 0 0;
	border-radius: 0 .2em 0 0;
}
.css-icon-prev:after {
	top: .3em;
	left: 0;
	width: .2em;
	height: .3em;
	border-color: transparent currentcolor transparent transparent;
	border-width: .15em .2em .15em 0;
}

.css-icon-next:before {
	top: .4em;
	left: .1em;
	width: .7em;
	height: .3em;
	border-width: .1em 0 0 .1em;
	border-radius: .2em 0 0 0;
}
.css-icon-next:after {
	top: .3em;
	left: .8em;
	width: .2em;
	height: .3em;
	border-color: transparent transparent transparent currentcolor;
	border-width: .15em 0 .15em .2em;
}

[class*="css-icon-arrow-"],
[class*="css-icon-angle-"] {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
[class*="css-icon-arrow-"]:before,
[class*="css-icon-angle-"]:before {
	top: .1em;
  left: .15em;
  width: .7em;
  height: .7em;
  border-width: .1em .1em 0 0;
  transform: rotate(-45deg);
}
[class*="css-icon-arrow-"]:after {
  width: .1em;
  left: .45em;
  border-width: 1em 0 0;
}

.css-icon-arrow-bottom {transform: rotate(180deg);}
.css-icon-arrow-right {transform: rotate(90deg);}
.css-icon-arrow-left {transform: rotate(270deg);}

[class*="css-icon-angle-"]:before {top: .3em;}
.css-icon-angle-bottom {transform: rotate(180deg);}
.css-icon-angle-right {transform: rotate(90deg);}
.css-icon-angle-left {transform: rotate(270deg);}

.css-icon-lock:before,
.css-icon-unlock:before {
	left: .25em;
	width: .5em;
	height: .4em;
	border-width: .1em .1em 0;
	border-radius: .2em .2em 0 0;
}
.css-icon-lock:after,
.css-icon-unlock:after {
	left: .15em;
	width: .7em;
	height: .6em;
	border-width: .15em .3em .25em;
	border-radius: .1em .1em .2em .2em;
}
.css-icon-unlock:before {transform: translateX(-.25em);}
.css-icon-unlock:after {transform: translateX(.1em);}

.css-icon-checkbox:before,
.css-icon-radio:before,
.css-icon-checkbox-checked:before,
.css-icon-radio-checked:before {
	height: 1em;
	border-width: .1em;
	border-radius: .2em;
}
.css-icon-radio-checked:after,
.css-icon-checkbox-checked:after {
	left: .2em;
	bottom: .38em;
	width: .6em;
	height: .3em;
	border-width: 0 0 .1em .1em;
	border-radius: 0 0 0 .1em;
	transform: rotate(-45deg);
}
.css-icon-radio:before,
.css-icon-radio-checked:before {border-radius: 50%;}

.css-icon-plus:before,
.css-icon-minus:before,
.css-icon-plus-minus:before {
	top: .4em;
	left: .15em;
	width: .7em;
	border-width: .1em 0;
}
.css-icon-plus:after,
.css-icon-plus-minus:after {
	top: .15em;
	left: .4em;
	width: .2em;
	border-width: .7em 0 0;
}
.css-icon-plus-minus:before {
	top: .2em;
	height: .8em;
	border-width: .2em 0;
}
.css-icon-plus-minus:after {
	top: 0;
	border-width: .7em 0 0;
}
