<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CSS Icons</title>
	<link rel="stylesheet" href="css/css-icons.css">
	<link rel="stylesheet" href="css/styles.css">
	<script src="js/vue.min.js"></script>
</head>
<body>
	<div id="css-icon">
		<search-bar></search-bar>
		<guide></guide>

		<div class="container clrfix">
			<h2 class="title">{{elementsTitle}}</h2>
			<css-icon v-for="icon in iconsList" :group="iconsList" :icon-name="icon"></css-icon>
		</div>

		<div class="container clrfix">
			<h2 class="title">{{groupsTitle}}</h2>
			<template v-for="group in groupList">
				<css-icon v-for="icon in group" :group="group" :icon-name="icon"></css-icon>
				<div class="clr"></div>
			</template>
		</div>
	</div>

	<script src="js/css-icons.js"></script>
</body>
</html>
